In [1]:
import pandas as pd

In [3]:
file = "Resources/1976-2016-president.tab"
df = pd.read_csv(file,sep='\t',header=(0))
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
0,1976,Alabama,AL,1,63,41,US President,"Carter, Jimmy",democrat,False,659170,1182850,20171015,NaN
1,1976,Alabama,AL,1,63,41,US President,"Ford, Gerald",republican,False,504070,1182850,20171015,NaN
2,1976,Alabama,AL,1,63,41,US President,"Maddox, Lester",american independent party,False,9198,1182850,20171015,NaN
3,1976,Alabama,AL,1,63,41,US President,"Bubar, Benjamin \\""Ben\""\""""",prohibition,False,6669,1182850,20171015,NaN
4,1976,Alabama,AL,1,63,41,US President,"Hall, Gus",communist party use,False,1954,1182850,20171015,NaN

In [9]:
dc_df = df.loc[df["state"] == "District of Columbia"]
dc_df = dc_df.loc[df["year"] == 2016]
dc_df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party,writein,candidatevotes,totalvotes,version,notes
3460,2016,District of Columbia,DC,11,53,55,US President,"Clinton, Hillary",democrat,False,282830,312575,20171015,NaN
3461,2016,District of Columbia,DC,11,53,55,US President,"Trump, Donald J.",republican,False,12723,312575,20171015,NaN
3462,2016,District of Columbia,DC,11,53,55,US President,NaN,NaN,True,6551,312575,20171015,NaN
3463,2016,District of Columbia,DC,11,53,55,US President,"Johnson, Gary",libertarian,False,4906,312575,20171015,NaN
3464,2016,District of Columbia,DC,11,53,55,US President,"Stein, Jill",green,False,4258,312575,20171015,NaN

In [ ]:
# https://www.dcboe.org/CMSPages/GetFile.aspx?guid=07ff5f5c-481f-4b65-a467-f38798e9c270

In [13]:
file = "Resources/dc_voting_data.csv"
dc_wards = pd.read_csv(file)
dc_wards

   WARD     DEM    REP  STG  OTH      NP  TOTALS
0     1  45,579  2,971  646  326  11,475  60,997
1     2  30,904  5,904  210  333  10,846  48,197
2     3  38,504  6,730  345  293  11,198  57,070
3     4  49,586  2,315  528  241   8,944  61,614
4     5  51,555  2,318  556  305   9,056  63,790
5     6  54,619  7,037  489  442  13,544  76,131
6     7  47,943  1,277  430  207   6,666  56,523
7     8  46,224  1,372  418  224   7,242  55,480